# DataScienceEcosystem

### Introduction                                 
In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List Commonly used libraries used by Data Scientists
- List few Data Science tools in a Table
- Perform few Arithmetic operations

**Exercise 4**                                           
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala 
5. Java

**Exercise 5**                                 
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensor Flow
4. PyTorch
5. Scikit-Learn

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools |
| ------------------ |
| Tensor Flow |
| Apache Spark |
| RStudio |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

In [5]:
200/60

3.3333333333333335

## Author
Talluri Venkata Naga Lakshmi Harshitha